:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus {
  color: var(--green-color);
}
.navbar .search {
  color: white;
  border-left: 2px solid var(--green-color);
  padding: 0 0.5em;
  cursor: pointer;
}
.navbar .navbar-toggler {
  color: white;
  border-color: white;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  background-color: var(--green-color);
  border-color: var(--green-color);
}
.navbar-toggler:focus {
  box-shadow: none;
}

.landing {
  height: calc(100vh - 60px);
  background-color: var(--dark-color);
}
.main-button {
  background-color: var(--red-color);
}
.main-button:hover {
  background-color: var(--red-color);
  color: var(--yellow-color);
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  transform: translate(-50%);
}
.number {
  color: var(--section-color);
}
.pen {
  color: var(--green-color);
}
.icon-holder {
  height: 200px;
}
.icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
}
.feautures h2 {
  color: var(--yellow-color);
}
.our-work {
  background-color: var(--section-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
.our-work ul li.active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li:hover:not(.active) {
  color: var(--red-color);
}
.our-work .box {
  overflow: hidden;
  padding: 5px;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  background-color: #ff315082;
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  color: white;
  left: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.our-work .box:hover::before {
  left: 5px;
}
.stuff .main-h2 {
  width: 500px;
}

.team {
  background-color: var(--section-color);
}
.team h2 {
  color: var(--yellow-color);
}
.box h4 {
  background-color: var(--green-color);
}

.project {
  background-color: var(--dark-color);
}
.subs {
  background-color: var(--yellow-color);
}
.subs input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
  color: white;
}
.subs input[type="text"]:focus {
  outline: none;
}
.subs ::placeholder {
  color: white;
}
.subs input[type="submit"] {
  background-color: var(--dark-color);
  color: white;
}

.footer {
  background-color: var(--dark-color);
}
.footer .copyright > span {
  color: var(--green-color);
}
.footer .copyright div span {
  color: var(--yellow-color);
}
.social a svg {
  font-size: 25px;
}
.facebook {
  color: #1877f2;
}
.twitter {
  color: #1da1f2;
}
.linkedin {
  color: #0077b5;
}
.youtube {
  color: #ff0000;
}
